html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 70px;
    background-color: bisque;
}

.code {
    font-family: monospace;
    word-wrap: break-word;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}